<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>huacnlee@gmail.com</string>
	<key>contactName</key>
	<string>Jason Lee</string>
	<key>description</key>
	<string>Support for the &lt;a href="https://crystal-lang.org"&gt;Crystal programming language&lt;/a&gt;.</string>
	<key>mainMenu</key>
	<dict>
		<key>excludedItems</key>
		<array/>
		<key>items</key>
		<array>
			<string>9C1A39C8-3A9F-436D-A48B-3FBCEC7C4B54</string>
			<string>BB505E05-5D21-4050-BD70-36A53813BAE2</string>
			<string>A9830492-1671-42E1-A266-A3AC65A4FBEA</string>
			<string>1261009F-1B8E-4385-AAD1-2CE826D1B69E</string>
			<string>------------------------------------</string>
			<string>BF072170-7734-4755-8302-0E6E060C2D1D</string>
			<string>EABA88E4-0C42-4090-87A8-9D2BBC368E0F</string>
			<string>CA886E5C-6637-48F4-B2D2-D2DB51F3310F</string>
			<string>24525B3B-93B7-4807-9D74-8473D042F73D</string>
			<string>B88CE22E-0E38-405F-BFEF-3E550A470E91</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>24525B3B-93B7-4807-9D74-8473D042F73D</key>
			<dict>
				<key>items</key>
				<array/>
				<key>name</key>
				<string>Iterators</string>
			</dict>
			<key>B88CE22E-0E38-405F-BFEF-3E550A470E91</key>
			<dict>
				<key>items</key>
				<array>
					<string>5F56F19F-524C-4674-ABBC-65CBD52AE5BA</string>
					<string>------------------------------------</string>
					<string>B346F9C7-68C4-42D5-B67A-61042500CAE6</string>
					<string>75874636-9EC1-4137-BC39-26E2F311E5C4</string>
				</array>
				<key>name</key>
				<string>Tests</string>
			</dict>
			<key>BF072170-7734-4755-8302-0E6E060C2D1D</key>
			<dict>
				<key>items</key>
				<array>
					<string>75972B8D-EF10-40AA-A749-EFCA21D3AB61</string>
					<string>------------------------------------</string>
					<string>ED183653-D3F3-4242-B7F6-3491E7DD065D</string>
					<string>2CAAC477-E477-4934-BEA8-D15125227360</string>
					<string>------------------------------------</string>
					<string>47D6C9C3-5317-413F-8237-C942B3DBCC16</string>
					<string>3DE3E1CF-EBC7-44FD-9ADF-02AEE0D38B2E</string>
				</array>
				<key>name</key>
				<string>Class Module Methods</string>
			</dict>
			<key>CA886E5C-6637-48F4-B2D2-D2DB51F3310F</key>
			<dict>
				<key>items</key>
				<array/>
				<key>name</key>
				<string>Control Flow</string>
			</dict>
			<key>EABA88E4-0C42-4090-87A8-9D2BBC368E0F</key>
			<dict>
				<key>items</key>
				<array>
					<string>AB4AC558-0D9D-4F2F-80B5-646709708EE1</string>
					<string>A764EF66-1E23-462B-ADCE-0D87559C9F25</string>
					<string>900F90D4-EDE1-48EA-B2A4-614E7C6934EA</string>
					<string>------------------------------------</string>
					<string>1033F6CC-6B63-4D66-91EC-161D6B09FFB5</string>
					<string>577CBA4A-E177-4CD6-B082-F9FB65A4D851</string>
					<string>A7B5D5B4-4656-41D5-AA2A-A98B730446B1</string>
				</array>
				<key>name</key>
				<string>Declarations</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Crystal</string>
	<key>source</key>
	<dict>
		<key>method</key>
		<string>git</string>
		<key>url</key>
		<string>https://github.com/huacnlee/Crystal.tmbundle.git</string>
	</dict>
	<key>uuid</key>
	<string>FC8E7138-224B-47B3-950D-5AF138FE8A8A</string>
</dict>
</plist>
